body{
    background-color: aqua;
}
h1 {
    width: 203px;
    height: 70px;
    left: 80px;
    top: 20px;
    color: crimson;
    font-size: 24px;
    line-height: 26px;
    border: 1px solid rgba(82, 61, 51, 0.2);
}
p{
    position: absolute;
    width: 514px;
    height: 186px;
    left: 89px;
    top: 217px;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: white;
}
a{
    color: tomato;
}